*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: black;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.cabecalho-logo{
    width: 70px;
}

.cabecalho-menu{
    display: flex;
    gap: 30px;
    color: white;  
}

.cabecalho-menu-item{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.conteudo{
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25%;
}

.conteudo-principal{
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.conteudo-secundario-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
}