@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: white;
    text-decoration: none;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    font-size: 100%;
    min-height: 100vh;
    font-family: com;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    border-bottom: 0.4px solid white;
    padding: 10px;
}

.jogadores{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.game{
    margin-top: 25px;
    background-color: #232323;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem ;
    gap: .5rem;
    margin-bottom: 1.5rem;
    max-width: 19rem;
}

.game span{
    background-color: #ddd;
    cursor: pointer;
    display: grid;
    place-content: center;
    font-size: 5rem;
}

.game span.win{
    background-color: green;
}